<div class="form-group nested-fields">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :phone_type %>
        <%= f.select :phone_type, ["Home", "Work", "Cell"], {:prompt => 'Select Phone Type'}, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :phone_number %>
        <%= f.phone_field :phone_number, class: "form-control", placeholder: "999-999-9999"%>
      </div>
    </div>
    <div class="col-md-2 mt-4 pt-2 ">
      <div class="form-group">
        <%= f.label :primary %>
        <%= radio_button_tag "user[primary_phone]", f.index, f.object.primary, class:"form-check-input " %>
      </div>
    </div>
  </div>
  <%= link_to_remove_association 'Remove Phone', f, class: "text-danger" %>
</div>
  