<div class="form-group nested-fields">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :address_type, "Address Type", class:"required-field" %>
        <%= f.select :address_type, ["Home", "Office", "Others"],{:prompt => 'Select Address Type'}, {class: "form-select"} %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :address_line_1, "Address Line 1", class:"required-field" %>
        <%= f.text_field :address_line_1,class:"form-control" %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :address_line_2, "Address Line 2"%>
        <%= f.text_field :address_line_2,class:"form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :city, "City" , class:"required-field" %>
        <%= f.text_field :city,class:"form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :state, "State" ,class:"required-field" %>
         <%= f.select :state, options_for_select(us_states),{:prompt => 'Select State'}, class: "form-select",required: true %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :zip, "Zip Code", class:"required-field" %>
        <%= f.text_field :zip,class:"form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :county, "County" %>
        <%= f.text_field :county,class:"form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :country, "Country", class:"required-field" %>
        <%= f.text_field :country,class:"form-control", value: "USA" %>
      </div>
    </div>
  </div>
  <% unless f.index == 0 %>
    <%= link_to_remove_association 'Remove Address', f, class: "text-danger" %>
  <% end %>
</div>