<div class="container">
  <h1 class="text-center p-5">Registered User</h1>
  <hr class="bg-dark" />
  <br/>
  <%= search_form_for @q do |f| %>
  <div class="input-group">
    <div class="col-md-10">
      <%= f.search_field :first_name_or_last_name_cont, :placeholder => 'Search by First or Last name', class: "form-control border rounded-pill" %>
    </div>
    <div class="col-md-1 d-flex justify-content-center align-items-center">
      <span class="input-group-append mr-2">
        <button class="btn btn-dark btn-md mr-2" type="submit">
          <span aria-hidden="true" class="fa fa-search"></span>
        </button>
      </span>
    </div>
    <div class="col-md-1">
      <%= link_to 'Refresh', users_path, class:"btn btn-dark text-light" %>
    </div>
  </div>
  <% end %>
  <br/>
   <hr class="bg-dark" />

     <% if can? :create, User %>
    <%= link_to 'Add New Participate', new_user_path %>
  <% end %>

  <div class=" table-responsive py-5"> 
  <table class="table table-bordered table-hover">
    <thead class="thead-dark bg-dark text-light">
      <tr>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <th>City</th>
        <th COLSPAN="3" class="text-center"> Actions </th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.first_name.capitalize %></td>
          <td><%= user.last_name.capitalize %></td>
          <td><%= user.primary_phone %></td>
          <td><%= user.primary_city %></td> 
          
          <td><%= link_to 'Show', user %></td>
           <td>
              <% if can? :update, user %>
                <%= link_to 'Edit', edit_user_path(user) %>
              <% end %>
            </td>
            <td>
              <% if can? :destroy, user %>
                <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
            
        </tr>

      <% end %>
    </tbody>
  </table>
  </div>
  <div class="col-md-10">
  <% if can? :create, User %>
    <%= link_to 'Add New Participate', new_user_path %>
  <% end %>
</div>
  <br/>
</div>



