<section id="cover" class=" container min-vh-100 text-dark">
  <div class="row text-dark bg-white p-5 shadow p-3 mb-5  mt-5 bg-white rounded ">
     <div class="col-md-12 mx-auto text-left form p-4 ">
       <h1 class="display-4 py-2 text-dark text-center"><%= @user.first_name.capitalize %>'s Profile</h1>
       <br/>
       <div class="col-md-12 text-right mt-4">
         <% if @current_user&.admin? %>
            <%= link_to 'Edit', edit_user_path(@user) %> |
            <%= link_to 'Back', users_path %>
          <% else %>
            <%= link_to 'Back', root_path %>
          <% end %>
        </div>
       <hr class="bg-dark" />
       <br/>
       <div class="row g-3 text-dark text-left ">
          <h5 class="mb-4"> 
            <i class="fas fa-info"></i>
            <u>Basic Information</u>
          </h5>
          <div class="row ">
            <div class="col-3 border-bottom border-dark ">
              <span><%= @user.title %></span>
            </div>
           
            <div class="col-3 border-bottom border-dark">
              <span><%= @user.first_name.capitalize %></span>
            </div>
            
            <div class="col-3 border-bottom border-dark">
              <% if @user.middle_name == "" || @user.middle_name==nil %>
                  <span>-</span>
              <%else%>
                <span><%= @user.middle_name.capitalize %></span>
              <% end %>
            </div>
           
            <div class="col-3 border-bottom border-dark">
              <span><%= @user.last_name.capitalize %></span>
            </div>
          </div>

          <div class="row">
             <div class="col-3 text-muted">
              <p>Title</p>
            </div>
            <div class="col-3 text-muted">
              <p>First Name</p>
            </div>
             <div class="col-3 text-muted">
              <p>MI</p>
            </div>
            <div class="col-3 text-muted">
              <p>Last Name</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 border-bottom border-dark">
              <span><%= @user.email %></span>
            </div>
            <div class="col-md-12 text-muted ">
              <p>Email</p>
            </div>
          </div>

          <div class="row">
            <div class="col-4 border-bottom border-dark">
              <span><%= @user.dob %></span>
            </div>
           
            <div class="col-4 border-bottom border-dark">
                <% if @user.age == "" or @user.age == nil %>
                  <span>-</span>
                <%else%>
                  <span><%= @user.age %></span>
                <% end %>
            </div>
            
            <div class="col-4 border-bottom border-dark">
              <span><%= @user.role.name %></span>
            </div>
          </div>

          <div class="row">
             <div class="col-4 text-muted">
              <p>Date of Birth</p>
            </div>
            <div class="col-4 text-muted">
              <p>Age</p>
            </div>
             <div class="col-4 text-muted">
              <p>User Role</p>
            </div>
          </div>

          <div class="row">
            <div class="col-4 border-bottom border-dark">
              <span><%= @user.gender %></span>
            </div>
           
            <div class="col-4 border-bottom border-dark">
              <% if @user.ethinicity == "" || @user.ethinicity == nil %>
                  <span>-</span>
              <%else%>
                <span><%= @user.ethinicity %></span>
              <% end %>
            </div>
            
            <div class="col-4 border-bottom border-dark">
              <% if @user.language == "" || @user.language == nil %>
                  <span>-</span>
              <%else%>
                <span><%= @user.language %></span>
              <% end %>
            </div>
          </div>

          <div class="row">
             <div class="col-4 text-muted">
              <p>Gender</p>
            </div>
            <div class="col-4 text-muted">
              <p>Ethinicity</p>
            </div>
             <div class="col-4 text-muted">
              <p>Language</p>
            </div>
          </div>

          <h5 class="mb-4"> 
            <i class="fas fa-phone-square"></i>
            <u>Phone Numbers</u>
          </h5>
          <div class="row">
            <div class="col-6 border-bottom border-dark">
              <span><%= @user.primary_phone_type %></span>
            </div>
            <div class="col-6 border-bottom border-dark">
              <span><%= @user.primary_phone %></span>
            </div>
          </div>
          <div class="row">
             <div class="col-6 text-muted">
              <p>Primary Phone Type</p>
            </div>
            <div class="col-6 text-muted">
              <p>Primary Phone Number</p>
            </div>
          </div>

          <% @user.phones.each do |p| %>
            <div class="row">
              <div class="col-6 border-bottom border-dark">
                <span><%= p.phone_type %></span>
              </div>
              <div class="col-6 border-bottom border-dark">
                <span><%= p.phone_number %></span>
              </div>
            </div>
            <div class="row">
               <div class="col-6 text-muted">
                <p>Phone Type</p>
              </div>
              <div class="col-6 text-muted">
                <p>Phone Number</p>
              </div>
            </div>
          <% end %>

          <h5 class="mb-4"> 
            <i class="fas fa-address-card"></i>
            <u>Addresses</u>
          </h5>
          <div class="row">
            <div class="col-2 border-bottom border-dark d-none d-sm-block">
              <span><%= @user.primary_address_type %></span>
            </div>
            <div class="col-4 border-bottom border-dark">
              <span><%= @user.primary_address_line_1 %></span>
            </div>
             <div class="col-4 border-bottom border-dark">
              <% if @user.primary_address_line_2 == "" || @user.primary_address_line_2 == nil %>
                  <span>-</span>
              <%else%>
                <%=  @user.primary_address_line_2 %>
              <% end %>
            </div>
            <div class="col-2 border-bottom border-dark">
              <span><%= @user.primary_city.capitalize %></span>
            </div>
          </div>

          <div class="row">
            <div class="col-2 text-muted d-none d-sm-block">
              <p>Address Type</p>
            </div>
             <div class="col-4 text-muted">
              <p>Address Line 1</p>
            </div>
            <div class="col-4 text-muted">
              <p>Address Line 2</p>
            </div>
            <div class="col-2 text-muted">
              <p>City</p>
            </div>
          </div>

          <div class="row">
            <div class="col-2 border-bottom border-dark">
              <span><%= @user.primary_state.upcase %></span>
            </div>
            <div class="col-4 border-bottom border-dark">
              <span><%= @user.primary_zip %></span>
            </div>
             <div class="col-4 border-bottom border-dark">
              <% if @user.primary_county == "" || @user.primary_county == nil %>
                 <span>-</span>
              <%else%>
                <span><%=  @user.primary_county.capitalize %></span>
              <% end %>
            </div>
            <div class="col-2 border-bottom border-dark">
              <span><%= @user.primary_country.upcase %></span>
            </div>
          </div>

          <div class="row">
            <div class="col-2 text-muted">
              <p>State</p>
            </div>
             <div class="col-4 text-muted">
              <p>Zip Code</p>
            </div>
            <div class="col-4 text-muted">
              <p>County</p>
            </div>
            <div class="col-2 text-muted">
              <p>Country</p>
            </div>
          </div>

          <% @user.addresses.each do |t| %>
            <p class="text-secondary"> Additional Addresses</p>
            <div class="row">
              <div class="col-2 border-bottom border-dark">
                <span><%= t.address_type %></span>
              </div>
              <div class="col-4 border-bottom border-dark">
                <span><%= t.address_line_1 %></span>
              </div>
               <div class="col-4 border-bottom border-dark">
                <% if t.address_line_2 == "" || t.address_line_2 == nil %>
                    <span>-</span>
                <%else%>
                  <span><%=  t.address_line_2 %></span>
                <% end %>
              </div>
              <div class="col-2 border-bottom border-dark">
                <span><%= t.city %></span>
              </div>
            </div>


            <div class="row">
              <div class="col-2 text-muted">
                <p>Address Type</p>
              </div>
               <div class="col-4 text-muted">
                <p>Address Line 1</p>
              </div>
              <div class="col-4 text-muted">
                <p>Address Line 2</p>
              </div>
              <div class="col-2 text-muted">
                <p>City</p>
              </div>
            </div>

            <div class="row">
              <div class="col-2 border-bottom border-dark">
                <span><%= t.state %></span>
              </div>
              <div class="col-4 border-bottom border-dark">
                <span><%= t.zip %></span>
              </div>
               <div class="col-4 border-bottom border-dark">
                <% if t.county == "" || t.county == nil %>
                    <span>-</span>
                <%else%>
                  <span><%=  t.county %></span>
                <% end %>
              </div>
              <div class="col-2 border-bottom border-dark">
                <span><%= t.country %></span>
              </div>
            </div>

            <div class="row">
              <div class="col-2 text-muted ">
                <p>State</p>
              </div>
               <div class="col-4 text-muted">
                <p>Zip</p>
              </div>
              <div class="col-4 text-muted">
                <p>County</p>
              </div>
              <div class="col-2 text-muted">
                <p>Country</p>
              </div>
            </div>
          <% end %>

          <h5 class="mb-4"> 
            <i class="fas fa-user"></i>
            <u>User Last Activity On Website </u>
          </h5>
            <div class="row">
              <div class="col-6 border-bottom border-dark">
                <span><%= @last_login %></span>
              </div>
              <div class="col-6 border-bottom border-dark">
                <span><%= @user.sign_in_count %></span>
              </div>
            </div>
            <div class="row">
              <div class="col-6 text-muted">
                <p>Last Logged In On</p>
              </div>
              <div class="col-6 text-muted">
                <p>Number Of Times Logged In</p>
              </div>
            </div>
          <div class="col-2 text-left mt-4">
            <% if @current_user&.admin? %>
              <%= link_to 'Edit', edit_user_path(@user) %> |
              <%= link_to 'Back', users_path %>
            <% else %>
              <%= link_to 'Back', root_path %>
            <% end %>
          </div>
       </div>
     </div>
  </div>
</section>







