<main class="d-flex align-items-center min-vh-100 py-3 py-md-0 bg-light">
    <div class="container">
      <div class="card login-card shadow p-3 mb-5 mt-5 rounded">
        <div class="row no-gutters">
          <!-- <div class="col-md-7"> -->
            <div class="card-body">
               <div class="brand-wrapper">
                <h2>Forgot your password?</h2>
                <p class="login-card-description">Password reset instruction will be sent to your email after submiting this form.</p>
               </div>
               <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                  </div>
                  <div class="col-md-12 actions mt-3">
                    <%= f.submit "Submit", class: "btn btn-dark btn-lg" %>
                  </div>
              <% end %>
              <%= link_to "Sign In", new_user_session_path,class:"text-reset"%>
                <p class="login-card-footer-text">
                    Didn't register yet? 
                <%= link_to "Register Here", new_user_registration_path, class:"text-reset" %>
                 </p>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
</main>