<div class="container vw-100">
  <% if user_signed_in? %>
    <h1 class="text-center p-5 ">Registerd Users For The Event</h1>
    <br/>
    <hr class="bg-dark" />

  <%= search_form_for @ransack_users, as: :users_search, url: root_path, method: :get do |f| %>
      <div class="input-group">
        <div class="col-md-10 col-xs-8">
          <%= f.search_field :first_name_or_last_name_cont, :placeholder => 'Search by First or Last name', class: "form-control border-end-0 border rounded-pill" %>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <span class="input-group-append mr-2">
            <button class="btn btn-dark btn-md mr-2" type="submit">
              <span aria-hidden="true" class="fa fa-search"></span>
            </button>
          </span>
        </div>
        <div class="col-md-1">
          <%= link_to 'Refresh', root_path, class:"btn btn-dark text-light" %>
        </div>
      </div>
  <% end %>

  <hr class="bg-dark" />
    <div class="table-responsive py-5"> 
      <table class="table table-bordered table-hover">
        <thead class="thead-dark bg-dark text-light">
          <tr>
            <th>First name</th>
            <th>Last name</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
             <tr>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td> 
            </tr>
          <% end %>
          </tbody>
      </table>
    </div>
</div>
<% else %>
  <div id="background"></div>
  <div class="d-flex justify-content-center align-items-center flex-column vh-100 text-dark main-cover ">
    <h1 class="text-center">Welcome To The Paint Night Event</h1>
      <h4 class="text-center"> Winner will be awarded with <strong class="text-warning">$1000 </strong> USD prize.</h4>
      <h3 class=" border border-dark p-3 bg-warning text-center"> Event Detail - 08/09/2021 at 835,Brush Hollow Road. Westbury, NY. @8 PM EST.</h3>
      <p class="lead">
        <%= link_to "Register", new_user_registration_path, class:"btn btn-lg btn-dark text-white" %> |
        <%= link_to "Sign In", new_user_session_path,class:"btn btn-lg btn-dark text-white"%>
      </p>
  </div>
<% end %>

