<!DOCTYPE html>
<html>
  <head>
    <title>PaintNightRegistration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
          <a class="navbar-brand mx-3" href="<%= root_path %>">Paint Night</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mx-3">
              <span class="navbar-text">
                Signed in as <%= current_user.email %>. Not you?
              </span>
              <li class="nav-item">
                <%= link_to "Users", users_path,class: "nav-link text-light"%> 
              </li>
              <li class="nav-item ">
                <%= link_to "Edit profile", edit_user_registration_path, class: "nav-link text-light" %><
              </li>
              <li class="nav-item">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link text-light" %>
              </li>
            </ul>
            <% end %>
          </div>
        </nav>
      <!--   <% if @current_user&.admin? %>
          <%= link_to "Users", users_path %> |
          <%= link_to "Roles", roles_path %>
        <% end %> -->

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

    <%= yield %>
  </body>
</html>
